{% extends 'layouts/base.html' %}

{% block title %}Frequently Asked Questions{% endblock %}
{% block meta_description %}Answers to common questions about the game and how to play.{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Frequently Asked Questions</h1>
      <h3 class="text-muted">Find answers to your questions about the game.</h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-group">
          <li class="list-group-item">
            <h4>What is the objective   of the game?</h4>
            <p>The objective is to guess the outcome of a dice roll and win points.</p>
          </li>
          <li class="list-group-item">
            <h4>How do I place a bet?</h4>
            <p>You can place a bet by selecting your guess and confirming your wager.</p>
          </li>
          <li class="list-group-item">
            <h4>What happens if I win?</h4>
            <p>If you win, you will receive coins based on your bet and the odds.</p>
          </li>
          <li class="list-group-item">
            <h4>How is the leaderboard calculated?</h4>
            <p>The leaderboard is based on the total points earned from successful bets.</p>
          </li>
          <li class="list-group-item">
            <h4>Can I play with friends?</h4>
            <p>Yes, you can invite friends to join and compete against each other.</p>
          </li>
          <li class="list-group-item">
            <h4>Is there a mobile version of the game?</h4>
            <p>Yes, the game is fully responsive and can be played on mobile devices.</p>
          </li>
          <li class="list-group-item">
            <h4>How do I contact support?</h4>
            <p>You can contact support via the contact form on our website or email us directly.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
